@model IEnumerable<BirthdayApp.Business.Person>

@{
    ViewData["Title"] = "Index";
}
@*@model List<People>*@
<p>
    <a class="btn btn-primary btn-sm" asp-action="Create">New Person</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Birthday</th>
            <th colspan="2">Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.Id</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.Birthday</td>
            <td>
                <a class="btn btn-warning btn-sm" href="/People/Edit?id=@item.Id">Edit</a>
                <a class="btn btn-danger btn-sm" href="/People/Delete?id=@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
